<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	 <settings>
		 <setting name="cacheEnabled" value="false" />
		 <setting name="useGeneratedKeys" value="true" />
		 <setting name="defaultExecutorType" value="REUSE" />
	 </settings>

	 <typeAliases>
	 
	 	<!-- 공통 조건  -->
		<typeAlias type="kr.co.sptek.member.info.ConditionInfo" alias="Condition"/>	
		
		<!-- 환경 설정  --> 
		<typeAlias type="kr.co.sptek.member.info.ClientUserInfo" alias="ClientUserInfo"/>	
		
		
	 </typeAliases>


</configuration>